{% extends "newtemplate/layouts/base.html" %}
{%load static%}
{% block title %} Update Car {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'newstatic/assets/custom-table.css'%}">
{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
    <div class="main">
        <div class="sign_up_box">
            <form method="POST" action="">
                {%csrf_token%}
                <div>
                    <label for="car_category">Category</label>

                    <select id="car_category">
                        {%for category in categories%}
                        <option value="{{category.title}}" {%if category.id == car.category.id %} selected {% endif %}>
                            {{category.title}}
                        </option>
                        {%endfor%}
                    </select>
                </div>

                <div class="input">
                    <input type="text" name="name" value="{{car.name}}">
                </div>

                <div class="input">
                    <input type="text" name="brand" value="{{car.brand}}">
                </div>

                <div class="input">
                    <input type="text" name="price" value="{{car.price}}">
                </div>
                <div>
                    <input type="text" name="color" value="{{car.color}}">
                </div>

                <div>
                    <a href="{{request.META.HTTP_REFERER}}">Back</a>
                    <input class="button" type="submit" value="Confirm">

                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}

